<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" menuId="slidingMenu" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <div class="logo-header">
                        <img src="../assets/ij-horiz.png" alt="">
                    </div>
                    <form [formGroup]="form">
                        <ion-searchbar formControlName="search" (keyup.enter)="onEnter()"></ion-searchbar>
                    </form>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <app-sidebar-row [startIcon]="p.icon" [text]="p.title" [route]="p.url">
                        </app-sidebar-row>
                    </ion-menu-toggle>

                    <app-sidebar-row theme="red" route="regions" endIcon="add-circle" text="Browse By Region"
                                     [expandable]="true">
                        <!-- List all chosen regions -->
                        <div>
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of regions; let i = index">
                                <app-sidebar-row></app-sidebar-row>
                            </ion-menu-toggle>
                            <app-sidebar-row (click)="closeSidebar()" startIcon="cog-outline" route="preferences"
                                             text="Manage Regions"></app-sidebar-row>
                        </div>
                    </app-sidebar-row>
                    <app-sidebar-row theme="red" route="topics" endIcon="add-circle" text="Browse By Topic"
                                     [expandable]="true">
                        <!-- List all chosen topics -->
                        <div>
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of topics; let i = index">
                                <app-sidebar-row></app-sidebar-row>
                            </ion-menu-toggle>
                            <app-sidebar-row (click)="closeSidebar()" startIcon="cog-outline" route="preferences"
                                             text="Manage Topics"></app-sidebar-row>
                        </div>
                    </app-sidebar-row>
                    <ion-item lines="none">
                        <ion-label>Dark Mode</ion-label>
                        <ion-toggle (ionChange)="onClick($event)" slot="end"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
