<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="logo-header">
            <img src="../assets/ij-horiz.png" alt="">
          </div>
           <app-sidebar-search></app-sidebar-search>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <app-sidebar-row [startIcon]="p.icon" [text]="p.title" [routerLink]="p.url">
            </app-sidebar-row><!--
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>-->
          </ion-menu-toggle>

          <app-sidebar-row routerLink="regions/" endIcon="add-circle" text="Browse By Region"></app-sidebar-row>
          <app-sidebar-row routerLink="topics/" endIcon="add-circle" text="Browse By Topic"></app-sidebar-row>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
