<div *ngFor="let article of articles; let i = index">
  <div *ngIf="i < limit"  class="article-row">
    <a (click)="navigateTo(article.id)"  title="{{ article.title }}">
      <div class="image-side" *ngIf="!!allowImages && !!article.image" style="background-image: url('{{ article.image }}')">
      </div>
      <div class="content">
        <span *ngIf="!!article.title">{{ article.title }}</span>
        <span *ngIf="!!article.post_title">{{ article.post_title }}</span>
      </div>
    </a>
  </div>
</div>
