ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

img {
  width: 100%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-back-button {
  color: #fff;
}


ion-header, ion-toolbar, .header-background {
  --background: #af231c;
  color: #fff;
  border-color: #831a15;
  background-color: #af231c;
  background-image: linear-gradient(0deg,#831a15,#831a15 50%,transparent 50%);

  ion-menu-button {
    color: #fff;
  }
}
.share {
  color: #fff !important;

  button {
    color: #fff !important;
  }
}

.button-native {
  color: #fff !important;
}
