<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Magazine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let magazine of magazines">
    <h1 class="ion-padding-horizontal">{{ magazine.post_title }}</h1>
    <div class=" ion-padding-bottom">
      <small class="ion-padding-horizontal">{{ magazine.post_date | date }}</small>
    </div>

    <div *ngFor="let topic of magazine.regions">
      <app-article-container [articleHeader]="topic.post_title">
        <app-row-article [articles]="topic.articles" limit="100" [allowImages]="false" [redirectURL]="'magazine'"></app-row-article>
      </app-article-container>
    </div>
  </div>
</ion-content>
